---
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Posts - Shaggy Star</title>
	</head>
	<body>
		<h1>Posts</h1>
		<ul>
			{posts.map((post) => (
				<li>
					<a href={`/posts/${post.slug}`}>
						{post.data.title}
					</a>
					<small>{post.data.pubDate.toLocaleDateString()}</small>
				</li>
			))}
		</ul>
		<p><a href="/">← Back to Home</a></p>
	</body>
</html>
